{% extends "todo/base.html" %}

{% block title %}Add Tag{% endblock %}

{% block content %}
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-action">Home</a>
                <a href="/tags/" class="list-group-item list-group-item-action">Tags</a>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
            <h1 class="my-4">Add New Tag</h1>
            <form method="POST" action="{% url 'tag_add' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_name" class="form-label">Tag Name</label>
                    <input type="text" class="form-control" id="id_name" name="name" value="{{ form.name.value }}" required>
                </div>

                <button type="submit" class="btn btn-primary mt-4">Add Tag</button>
            </form>
        </div>
    </div>
{% endblock %}
