<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список тегів</title>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="/">Головна</a></li>
            <li><a href="/tags/">Список тегів</a></li>
        </ul>
    </div>
    <div class="content">
        <h1>Список тегів</h1>
        <ul>
            {% for tag in tags %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
